 @charset "UTF-8";


 *{
margin: 0;
padding: 0;
box-sizing: content-box;
font-family: Georgia, 'Times New Roman', Times, serif;

}

html{
    height: 100vh;
}

body{

    font-family:  sans-serif;
    background-image: linear-gradient(to bottom, #0f2475, #1577e5, #d7c9c0,#f4c68a, #af4746);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  /background-image: linear-gradient(to right, red,orange);
}

header{
    background-color: #0f2475;

}

h1{
    margin: 0;
    padding: 50px;
    box-sizing: 0;

}

img{
    padding: 26px;
}
 div ::content
p{
    padding: 50px;
    justify-content: center;
}


/* Aumentando o tamanho do texto de um parágrafo */
p {
    font-size: 29px;
    text-align: justify;
}

/* Aumentando o tamanho do texto de todo o conteúdo da página */
p{
    font-size: 35px;
    padding: 20px;
}

body {
    font-size: 35px;
}

nav{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

main{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

footer{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
